body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Varta', sans-serif;
}

nav {
    background-color: #37003c;
}

.trophy-logo {
    width: auto;
    height: 24px;
    margin-right: 8px;
}

#main-content {
    padding-top: 20px;
    flex: 1 0 auto;
}

#standings, #top-scorers {
    margin-top: 20px;
}

footer {
    padding-bottom: 15px;
}

.heart-icon {
    color: #ef5350;
}

.resolve-icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .brand-logo span {
        font-size: 0.7em;
    }

    .trophy-logo {
        height: 16px;
    }
}