/* General */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Varta', sans-serif;
    overflow: auto;
}

a {
    color: #e57373;
}

.material-icons {
    vertical-align: middle;
}

/* Navbar */
nav {
    background-color: #37003c;
}


.trophy-logo {
    height: 30px;
    margin-right: 7px;
    vertical-align: middle;
}

/* Main content */
#main-content {
    padding-top: 15px;
    flex: 1 0 auto;
}

/* Preloader */
.preloader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30vh;
}

.spinner-red, .spinner-red-only {
    border-color: #aaa;
}

/* League page */
#standings, #top-scorers {
    margin-top: 20px;
}

.header-league {
    border-radius: 3px;
}

.tabs-content.carousel { 
    height: 100%; 
    overflow-x:hidden; 
    overflow-y: scroll; 
} 

.tabs-content.carousel .carousel-item { 
    width: 100%; 
    height: 100%; 
}

/* Club page */
.club-card, .squad-card {
    padding: 15px;
    border-radius: 3px;
}

.club-logo {
    vertical-align: middle;
    max-height: 220px;
}

/* Footer */
footer {
    padding-bottom: 15px;
}

.heart-icon {
    color: #ef5350;
}

@media screen and (max-width: 992px) {
    #main-content {
        width: 95%;
    }
}

@media screen and (max-width: 600px) {
    #main-content {
        width: 100%;
    }

    .brand-logo span {
        font-size: 0.7em;
    }

    .trophy-logo {
        height: 20px;
    }

    .squad-card {
        width: 100%;
    }
}